
html, body {
  margin: 0;
  box-sizing: border-box;
}

dialog {
  outline: none;
  border: none;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.show {
  opacity: 1;
}

.container {
  overflow-y: scroll;
  height: 100dvh;
}

@for $i from 1 through 12 {
  .mb-#{$i} {
    margin-bottom: #{$i*4}px;
  }
}
